@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
.menu {
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
}
.link {
    display: inline-block;
    position: relative;
    font-size: 12px;
    padding: 0 8px;
    font-weight: 700;
}
.red_conteiner {
    height: 90px;
    background: rgb(117, 26, 26);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.center {
    display: flex;
    justify-content: center;
}
.divka {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
}
.end {
    justify-content: space-between;
}
.icon {
    width: 25px;
    height: 3px;
    background: white;
    margin: 3px;
    position: relative;
}

.icon::before, .icon::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

.icon::after {
    top: 6px;
}

.icon::before {
    top: -6px;
}

.button > a {
    color: white;
}
.button {
    width: 85px;
    height: 30px;
    background: rgb(150, 37, 37);
    border: 3px solid white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.font {
    font-size: 13px;
}
.conteiner_link {
    border-bottom: 1px solid rgb(214, 207, 207);
}
.under {
    font-size: 16px;
}
.cursor {
    cursor: pointer;
}
.covid {
    display: flex;
    justify-content: center;
}
.link_second {
    color: rgb(117, 26, 26);
    font-size: 20px;
}
.covid_item {
    width: calc(100% + 10px);
    position: relative;
    border: #e3e3e3 1px solid;
    margin: 5px 10px 5px 0;
    box-sizing: border-box;
}
span {
    font-weight: bold;
    font-size: 36px;
}
.information {
    margin: 50px;
}