h1 {
    text-align: center;
    color: salmon;
    font-family: cursive;
}
.img_laz {
    background: url(./item.jpg);
    color: #ffffff;
    position: relative;
}

.zzz {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: -1;
}
.laz {
    text-align: center;
}
img {
    border-radius: 2%;
    width: 600px;
    height: 400px;
    margin: 12px;
}
h2 {
    color: rgb(127, 184, 151);
    font-family: monospace;
    margin: 8px;
}

.link a{
    color: plum;
}
.link {
    border:2px solid royalblue;
}
.ttt  a{
    color: rgb(127, 184, 151);
}
.lili {
    font-family: cursive;
}