.boxs {
    background: black;
    width: 601px;
    padding: 2px;
    display:flex;
    flex-wrap: wrap;
} 
.box {
    width: 150px;
    height: 220px;
}
.orange {
    background: orange;
    width: 600px;
    height: 75px;
}
.red {
    background: red;
}
.green {
    background: green;
}
.blue {
    background: blue;
}
.black {
    background: black;
    border-right: 1px solid white;
}
